!.mvn/wrapper/maven-wrapper.jar
**/*.gradle
**/build
**/out
**/.DS_Store
**/*.iml
**/*.idea
**/target
**/bin
**/.settings
**/*.classpath
**/*.project
**/logs
**/*.log
**/*.jtl
src/test/resources/*.txt
**/LOG_FILE_IS_UNDEFINED
**/.vscode
**/.sts4-cache
**/FFDC
**/jacoco.exec
**/*.editorconfig
**/output.xml
**/nbproject
**/nbactions.xml
*.bat
*.rb
**/*.vagrant
**/Vagrant
**/Vagrantfile
**/docker-compose*.yml